* {
  background-image: none;
  box-shadow: none;;
}

window {
  background-color: rgba(23,23,23,0.8);
}

button {
  border-width: 2px;
  border-style: solid;
  border-color: rgba(188, 123, 231, 1);
  border-radius: 25px;
  color: #FFFFFF;
  text-decoration-color: #FFFFFF;
  background-color: rbga(33, 33, 52, 0.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth hover effect */
}

button:focus,
button:active,
button:hover {
  background-color: rgba(115, 95, 181, 0.8);
  border-color: rbga(255, 133, 199, 1);
  outline-style: none;
}

#lock {
  background-image: image(url(icons/lock.png"));
}

#logout {
  background-image: image(url("icons/logout.png"));
}

#suspend {
  background-image: image(url("icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot.png"));
}